

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer"
    ; */
}

nav {
    min-width: 100hv;
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #2A3335;
    color: aliceblue;
    padding: 1.5em;
    display: flex;
    
}

.menu-toggle{
    display: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

aside{
    top: 51px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
}

h1{
    text-align: center;
}

.service_area{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.service_area h1{
    text-align: center;
    font-size: 50px;
}

.service_list{
    grid-area: main;
    place-items: center;
    /* padding: 20px; */
    text-align: center;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px
}

.service{
    background-color: rgba(255, 255, 255); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: justify;
    /* width: 300px;
    height: 550px; */
}

/* aside{
    grid-area: aside;
} */

.about_me{
    background-color: #2A3335;
    padding: 20px;
    place-items: center;
}

.about_me h1{
    font-size: 50px;
    color: #ffff;
}

.about_me .highlight{
    color: #0A5EB0;
}

.myself{
    place-items: center;
    background-color: rgba(255, 255, 255); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 800px;
}

.text_part{
    text-align: justify;
    font-size: 30px;
}

footer{
    background-color: black;
    text-align: center;
    grid-area: footer;
    color: aliceblue;
}

@media (max-width: 768px) {
    .service_list {
        /* grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr)); */
        grid-template-columns: 1fr;
    }

    .menu-toggle{
        display: block;
    }

    .navbar{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: #222;
        padding-top: 20px;
        transition: 0.3s;
    }

    .navbar.show{
        display: flex;
    }

    .navbar a{
        display: block;
    }

    .text_part{
        font-size: 20px;
    }

  }